.main {
    min-height: auto;
    /* height: 100%; */
    /* display: flex; */
    /* flex-grow: 1; */

    padding: 40px;

    background-color: #263238;
}

.main__list {
    display: grid;

    grid-template-columns: repeat(7, 200px);
    grid-template-rows: minmax(250px, auto);

    grid-gap: 20px;
}

.main__item {
    display: flex;
    flex-direction: column;

    height: 250px;
    width: 200px;

    border: 2px solid #000000;

    background-color: #edf5fa;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.main__item:hover {
    border: 2px solid #7b61ff;
}

.main__item-status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 40px;

    padding: 5px 20px;

    border-bottom: 1px solid #000000;

    background-color: #daebf7;
}

.main__item-data {
    display: flex;
    flex-direction: column;

    line-height: 20px;

    padding: 5px 20px;
}

.main__item-number {
    height: 24px;

    font-size: 24px;
    text-align: center;
    line-height: 24px;
}

.main__item-date,
.main__item-agency,
.main__item-byMaterial .main__item-type,
.main__item-executor,
.main__item-state {
    height: 20px;
}

.main__item-unit {
    height: 40px;
}

.main__item-byMaterial {
    font-size: 13px;
    font-weight: bold;
}

.main__item-state {
    display: flex;
    width: 150px;

    margin-top: 5px;

    font-size: 10px;
    /* font-weight: bold; */
    line-height: 8px;
    text-align: center;
}

.main__item-state-item {
    display: flex;
    align-items: center;

    width: 50px;

    border: 1px solid #000000;
}

.main__item-state-ready {
    background-color: #81a0a7;
}

.btn-create-new-exp {
    justify-content: center;
    align-items: center;

    /* font-weight: bold; */
    font-size: 200px;
}